@viewport {
    width: device-width;
    zoom: 1.0;
  } 
 

body{
    background-color: rgba(14, 14, 16);
    font-family: Stencil Std;
}


.intro{
    text-align: center;
    color: white;

}

.img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: 300px;
    padding-top: 1px; 
    border: 2px solid black;
    box-sizing: border-box;
}

.career{
    text-align: center;
    color: white;
    
}

.list{
    
    position: absolute;
    color: white;
    margin-top: 2px;
    
}

.upcoming{
    text-align: center;
    color: white;
}

ul{
    font-size: 15px;
}

a:hover{
    color: orange;
    
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
    color: green;
    font-family: Marker Felt;
}


a{
    text-decoration: none;
}



footer{
    color: red;
    text-align: center;
}